.box {
  width: 0;
  height: 0;
  border: none;
  background-color: transparent;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s, width 0.5s, height 0.5s;
}

.haha {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  background-color: lightcoral;
  transform: scale(1);
  opacity: 1;
}
